:root {
  --error-hue: 0;
  --error-color: hsl(var(--error-hue), 100%, 5%);
  --error-background: hsl(var(--error-hue), 100%, 75%);

  --card-background-color: rgba(0, 0, 0, .02);
  --card-background-color-hover: rgba(0, 0, 0, .05);
  --card-box-shadow-1: var(--card-background-color-hover);
  --card-box-shadow-1-y: 3px;
  --card-box-shadow-1-blur: 6px;
  --card-box-shadow-2: rgba(0, 0, 0, 0.1);
  --card-box-shadow-2-y: 8px;
  --card-box-shadow-2-blur: 15px;

  --card-hover-box-shadow-2: rgba(0, 0, 0, 0.3);
  --card-hover-box-shadow-2-y: 15px;
  --card-hover-box-shadow-2-blur: 25px;

  --blur-opacity: .01;

  --prizegiving-result-bar: var(--card-hover-icon-color);
  --prizegiving-current-percentage: 0;

  --card-badge-color: rgba(0, 0, 0, 0.4);

  --icon-filter: invert(.7);
  --icon-filter-hover: none;
  --icon-filter-invert: invert(1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --error-color: hsl(var(--error-hue), 100%, 65%);
    --error-background: hsl(var(--error-hue), 100%, 5%);
    --icon-filter-hover: invert(1);

    --card-background-color: rgba(255, 255, 255, .02);
    --card-background-color-hover: rgba(255, 255, 255, .050);

    --card-badge-color: rgba(255, 255, 255, 0.8);
  }
}

[data-tooltip]:not(a, button, input) {
  border: none;
  cursor: auto;
}

body {
  min-height: 100vh;
}

body > header {
  padding-bottom: 0;
}

body > header nav > ul li,
body > header nav form {
  margin: 0 calc(var(--pico-block-spacing-horizontal) / 5);
}

body > header nav ul li a {
  border-bottom: 3px solid transparent;
  border-radius: 0;
}

body > header nav ul li a:hover,
body > header nav ul li.active a {
  border-color: var(--primary-focus);
}

body > main {
  padding-top: 0;
}

body > footer {
  padding: calc(var(--pico-block-spacing-vertical) * 2)
           calc(var(--pico-block-spacing-horizontal) * 4)
           calc(var(--pico-block-spacing-vertical) * 4)
           calc(var(--pico-block-spacing-horizontal) * 4);
  text-align: center;
}

header h1 {
  margin-bottom: 0;
}

header .slogan {
  color: var(--muted-color);
}

header a,
footer a {
  text-decoration: none;
}

.home header p {
  font-size: 2rem;
}

.upload img {
  border: 2px solid var(--border-color);
  max-width: 100%;
}

.filename {
  overflow-wrap: anywhere;
}

p.error {
  border-left: 3px solid var(--error-color);
  color: var(--error-color);
  background: var(--error-background);
  border-radius: 4px;
  padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.33);
}

.deletable {
  background-color: transparent;
  transition: background-color 1s linear;
}

.deleting {
  background-color: #c00;
}

table {
  width: 100%;
}

thead .name {
  width: 100%;
}

table.stats {
  width: 50%;
}

table.stats th {
  width: 50%;
}

table.stats th:after {
  content: ':';
}

table.entries td {
  white-space: nowrap;
}

table form {
  display: inline;
}

th.size,
td.size,
th.uploads,
td.uploads,
th.entries,
td.entries {
  text-align: right;
}

th.action,
td.action {
  text-align: center;
}

th[scope='row'] {
  text-align: right;
}

#top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#top-bar .actions > ul {
  margin: 0;
}

#top-bar .actions > ul > li {
  list-style-type: none;
  display: inline-flex;
}

#top-bar .actions > ul > li > form {
  display: inline-flex;
}

#content {
  clear: both;
}

#content.empty {
  display: none;
}

.icon {
  display: inline-flex;
  opacity: 1 !important;
  width: 1.5rem !important;
  height: 1.5rem !important;
  position: relative;
  font-size: 0.01px;
  top: -0.5rem;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;
  pointer-events: auto;
}

i.icon,
a.icon,
.icon i {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  filter: var(--icon-filter);
  transition: filter 0.2s ease-in-out;
}

i.icon {
  top: .3rem;
  margin-left: var(--pico-block-spacing-horizontal);
}

i.icon:hover,
.icon i:hover {
  filter: var(--icon-filter-hover);
}

button:hover > .icon,
button:hover > i {
  filter: var(--icon-filter-invert);
}

[rel='next'] .icon {
  background-image: url('/icons/arrow-forward-outline.svg');
}

[rel='prev'] .icon {
  background-image: url('/icons/arrow-back-outline.svg');
}

[rel='first'] .icon,
[rel='last'] .icon {
  background-image: url('/icons/refresh-outline.svg');
}

[rel='first'] .icon {
  transform: scaleX(-1);
}

.icon .add {
  background-image: url('/icons/add-outline.svg');
}

.icon .list {
  background-image: url('/icons/list-outline.svg');
}

.icon.lock,
.icon .lock,
.icon.close,
.icon .close {
  background-image: url('/icons/lock-closed-outline.svg');
}

.icon .open {
  background-image: url('/icons/lock-open-outline.svg');
}

.icon.download,
.icon .download {
  background-image: url('/icons/download-outline.svg');
}

.icon.delete,
.icon .delete {
  background-image: url('/icons/trash-outline.svg');
}

.icon.up,
.icon .up {
  background-image: url('/icons/arrow-up-outline.svg');
}

.icon.down,
.icon .down {
  background-image: url('/icons/arrow-down-outline.svg');
}

.icon.edit,
.icon .edit {
  background-image: url('/icons/create-outline.svg');
}

.icon.show,
.icon .show,
.icon.preview,
.icon .preview {
  background-image: url('/icons/tv-outline.svg');
}

.icon.user,
.icon .user {
  background-image: url('/icons/person-outline.svg');
}

.icon.logout,
.icon .logout {
  background-image: url('/icons/log-out-outline.svg');
}

dialog:target {
  display: flex;
}

dialog article .cards {
  margin-top: calc(var(--spacing) * 2);
  padding: 0;
  grid-template-columns: repeat(2, 1fr);
}

nav.paging,
form.paging {
  background-color: #888;
  padding: 0 var(--pico-block-spacing-horizontal);
  margin: 0;
}

form.paging {
  display: flex;
  padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
  justify-content: center;
}

nav.paging ol {
  display: flex;
  width: 100%;
  justify-content: center;
  list-style-type: none;
}

nav.paging ol li {
  display: inline;
}

.entry ul {
  list-style-type: none;
}

.entry img {
  max-width: 100%;
}

textarea {
  width: 100%;
}

.qr-code {
  min-height: 2cm;
  min-width: 2cm;
  height: 2rem;
}

.entry-frame, .prizegiving-frame {
  position: relative;
  display: block;
  border: 2px outset #888;
  aspect-ratio: 16 / 9;
  user-select: none;
  background: #999;
  background: radial-gradient(circle, #999 0%, black 100%);
  margin-bottom: var(--pico-block-spacing-vertical);
}

.entry-frame iframe, .prizegiving-frame iframe {
  width: 100%;
  border: none;
  aspect-ratio: 16 / 9;
}

#entry-preview {
  background: #999;
  background: radial-gradient(circle, #999 0%, black 100%);
  container-type: inline-size;
  height: 100vh;
  overflow: hidden;
  user-select: none;
}

#entry-preview main {
  padding: var(--pico-block-spacing-vertical);
  font-size: 2cqw;
}

#entry-preview .entry-number {
  opacity: 0.5;
}

#entry-preview main h1 {
  font-size: 5cqw;
}

#entry-preview main h2 {
  font-size: 4cqw;
}

#entry-preview main h3 {
  font-size: 3cqw;
}

.fade {
  font-weight: normal;
  opacity: 0.5;
}

#voting .voting-container input[type=radio] {
  display: none;
}

#voting .voting-container .entries {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 40vh;
  margin-bottom: 20px;
}

#voting .voting-container .entry {
  /* These default styles apply to all entries preceding the currently selected entry */
  margin: calc(var(--pico-block-spacing-vertical) * 2) auto;
}

#voting .voting-container .entry .entry-frame {
  position: relative;
}

#voting .voting-container .entry .entry-frame::after {
  content: '';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  left: 0;
  top: 0;
}

#voting .voting-container .entry .entry-frame:hover::after {
  background-color: hsla(var(--accent-hue), 100%, 50%, 0.2);
}

#voting .voting-container .entry .entry-frame iframe {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#voting input[name="entry-selector"]:checked + .entry {
  /* The currently selected entry */
  display: block;
}

#voting input[name="entry-selector"]:checked + .entry + * + .entry {
  /* The first entry following the currently selected entry */
  display: block;
}


#voting input[name="entry-selector"]:checked:first-of-type ~ .entry:last-of-type {
  /* The last entry when the first entry is selected */
  display: block;
}

#voting .entry.previous {
  /*
     The 'previous' class is added by JavaScript to the entry preceding the
     selected element and is needed because Firefox doesn't support the
     :has() selector.
  */
  display: block;
}

#voting .entry.wrap-around {
  /*
     The 'wrap-around' class is added by JavaScript to the first entry when
     the last entry is selected and is needed because Firefox doesn't
     support the :has() selector.
  */
  display: block;
}

#voting .status {
  margin-top: calc(var(--pico-block-spacing-vertical) * 2.5);
  float: right;
}

#voting .status::after {
  content: "";
  display: inline-block;
  margin-left: var(--pico-block-spacing-vertical);
}

#voting .status-connecting::after {
  content: ' ⧖';
}

#voting .status-connected {
  color: #0f0;
}

#voting .status-connected::after {
  content: ' ✓';
}

#voting .status-disconnected {
  color: #f00;
}

#voting .status-disconnected::after {
  content: ' ╳';
}

#voting .vote {
  background-color: var(--background-color-softer);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

@media (min-width: 40rem) {
  #voting .vote {
    flex-direction: row;
  }
}

#voting .vote .vote-text.hidden {
  display: none;
}

#voting .vote .vote-text .score {
  font-weight: bold;
  color: var(--primary-color);
}

#voting .vote .place-vote {
  list-style-type: none;
  margin: 0;
  padding: 0;
  direction: rtl;
  text-align: left;
}

#voting .vote .star {
  display: inline-block;
  border: none;
  position: relative;
  line-height: 60px;
  height: 60px;
  transition: color 0.1s ease;
  color: var(--border-color);
  z-index: 1;
}

#voting .vote .star::before {
  content: '\2605';
  display: block;
  width: 60px;
  height: 60px;
  font-size: 60px;
}

#voting .vote .star.selected,
#voting .vote .star.selected ~ .star {
  color: var(--accent-color);
}

#voting .vote .star:hover,
#voting .vote .star:hover ~ .star {
  transition: color 0.2s ease;
  color: #fff !important;
}

#voting .vote .star button {
  border: none;
  width: 60px;
  height: 40px;
  margin: 0;
  line-height: 1;
  padding: 0;
  position: absolute;
  top: 15px;
  left: -6px;
  z-index: 2;
  color: transparent;
  background: transparent;
}

.cards {
  display: grid;
  grid-gap: 32px;
  position: relative;
  z-index: 1;
  padding: 0;
}

@media (min-width: 992px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.cards .card {
  list-style-type: none;
  flex: 1;
}

.cards .card a {
  height: 100%;
  width: 100%;
  display: block;
  background-color: var(--card-background-color);
  box-shadow: 0px var(--card-box-shadow-1-y) var(--card-box-shadow-1-blur) var(--card-box-shadow-1),
              0px var(--card-box-shadow-2-y) var(--card-box-shadow-2-blur) var(--card-box-shadow-2),
              0 0 0 1px var(--pico-muted-border-color);
  border-radius: 15px;
  padding-bottom: calc(var(--pico-block-spacing-vertical) / 2);
  position: relative;
  text-decoration: none;
}

.cards .card a .name {
  background-color: var(--card-background-color);
  border-radius: 15px 15px 0 0;
  display: block;
  margin: 0 0 var(--pico-block-spacing-vertical) 0;
  padding: var(--pico-block-spacing-vertical)
           var(--pico-block-spacing-horizontal)
           calc(var(--pico-block-spacing-vertical) * 2)
           calc(var(--pico-block-spacing-horizontal) * 5);
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-color-normal);
  position: relative;
}

.cards .card a .name::before {
  content: '';
  position: absolute;
  left: var(--pico-block-spacing-vertical);
  top: 15%;
  width: calc(var(--pico-block-spacing-horizontal) * 3);
  height: calc(var(--pico-block-spacing-vertical) * 3);
  background-image: url('/icons/shapes-outline.svg');
  background-repeat: no-repeat;
  background-size: contain;
	filter: invert(.7);
}

.cards .card.graphics a .name::before {
  background-image: url('/icons/image-outline.svg');
}

.cards .card.realtime a .name::before {
  background-image: url('/icons/cube-outline.svg');
}

.cards .card.music a .name::before {
  background-image: url('/icons/musical-notes-outline.svg');
}

.cards .card.users a .name::before {
  background-image: url('/icons/people-outline.svg');
}

.cards .card.entries a .name::before {
  background-image: url('/icons/documents-outline.svg');
}

.cards .card.votes a .name::before {
  background-image: url('/icons/dice-outline.svg');
}

.cards .card.score a .name::before {
  background-image: url('/icons/fitness-outline.svg');
}

.cards .card a:hover {
  box-shadow: 0px 3px 6px var(--card-background-color-hover),
              0px var(--card-hover-box-shadow-2-y) var(--card-hover-box-shadow-2-blur) var(--card-hover-box-shadow-2),
              0 0 0 1px var(--pico-muted-color);
  background-color: var(--card-background-color-hover);
}

.cards .card a:hover .name,
.cards .card a:hover .description {
    color: var(--text-color-richer);
}

.cards .card a .description {
  display: block;
  color: var(--text-color-normal);
  margin: var(--pico-block-spacing-vertical);
}

.cards .card a .description .badge {
  position: absolute;
  top: var(--pico-block-spacing-vertical);
  right: var(--pico-block-spacing-horizontal);
  min-width: 1.6em;
  height: 1.6em;
  border-radius: calc(var(--pico-border-radius) * 2);
  border: 0.05em solid #999;
  padding: calc(var(--pico-block-spacing-vertical) / 2) calc(var(--pico-block-spacing-horizontal) / 2);
  background-color: var(--card-background-color-hover);
  color: var(--card-badge-color);
  margin-right: calc(var(--pico-block-spacing-horizontal) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
}

.cards .card h2.name {
  padding: 0 11rem 0 0;
}

.cards .card h2.name::before {
  left: auto;
  right: 0;
  width: 10rem;
  height: 10rem;
	filter: invert(.5);
}

.cards .card p {
  margin-right: 11rem;
}

.cards .card p {
  margin-right: 0;
}

@media print {
  @page {
    size: auto;
    margin: 0;
  }

  .admin\/invites header,
  .admin\/invites h1,
  .admin\/invites h2,
  .admin\/invites nav,
  .admin\/invites th,
  .admin\/invites td:nth-child(3),
  .admin\/invites form,
  .admin\/invites footer,
  .admin\/invites .actions {
    display: none;
  }

  .admin\/invites td:nth-child(1)::before {
    content: 'invitation-code: ';
  }

  .admin\/invites code,
  .admin\/invites td {
    border: none;
  }
}

#prizegiving-preview .results .result {
  background-image: linear-gradient(to right, var(--prizegiving-result-bar) 80%, transparent 100%);
  background-size: 0;
}

@keyframes scorebar {
  from {background-size: 0}
  to {background-size: var(--prizegiving-current-percentage)}
}
