{{ define "playlistNavigation" }}
  {{ if and . (gt (len .) 0) }}
    {{ $votingStillOpen := true }}
    {{ range . }}
      {{ if .VotingClosedAt.Valid }}
        {{ $votingStillOpen = false}}
        {{ break }}
      {{ end }}
    {{ end }}

    {{ if $votingStillOpen }}
      <nav>
        <ul>
          {{ range . }}
            <li><a href="{{ .VotingPath }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </nav>
    {{ end }}
  {{ end }}
{{ end }}
