{{ define "navigation" }}
  {{ $url := "" }}
  {{ if and .HttpContext .HttpContext.URL }}
    {{ $url = .HttpContext.URL }}
  {{ end }}
  <ul>
    <li {{ if hasPrefix $url "/invites" }}class="active"{{ end }}>
      <a href="/invites">Invites</a>
    </li>
    <li {{ if hasPrefix $url "/users" }}class="active"{{ end }}>
      <a href="/users">Users</a>
    </li>
    <li {{ if hasPrefix $url "/compos" }}class="active"{{ end }}>
      <a href="/compos">Compos</a>
    </li>
    <li {{ if hasPrefix $url "/entries" }}class="active"{{ end }}>
      <a href="/entries">Entries</a>
    </li>
    <li {{ if hasPrefix $url "/playlists" }}class="active"{{ end }}>
      <a href="/playlists">Playlists</a>
    </li>
    <li {{ if hasPrefix $url "/prizegiving" }}class="active"{{ end }}>
    <a href="/prizegiving">Prizegiving</a>
    </li>
  </ul>
{{ end }}
