{{ define "title" }}Admin{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
  </ul>
{{ end }}
{{ define "actions" }}<!---->{{ end }}
{{ define "main" }}
  <h2>Admin</h2>

  <ul class="cards">
    <li class="card users">
      <a href="/users">
        <h3 class="name">Users</h3>
        <div class="description">
          <span class="badge">{{ .Stats.users }}</span>
          Registered users.
        </div>
      </a>
    </li>

    <li class="card entries">
      <a href="/entries">
        <h3 class="name">Entries</h3>
        <div class="description">
          <span class="badge">{{ .Stats.entries }}</span>
          Created entries.
        </div>
      </a>
    </li>

    <li class="card votes">
      <a href="/results">
        <h3 class="name">Votes</h3>
        <div class="description">
          <span class="badge">{{ .Stats.votes }}</span>
          Total number of counting votes.
        </div>
      </a>
    </li>

    <li class="card score">
      <a href="#">
        <h3 class="name">Score</h3>
        <div class="description">
          <span class="badge">{{ .Stats.score }}</span>
          Total score given across all counting votes
        </div>
      </a>
    </li>
  </ul>
{{ end }}
