{{ define "title" }}Compos{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/compos">Compos</a></li>
  </ul>
{{ end }}

{{ define "actions" }}

<a href="#add-compo" data-tooltip="Add compo" data-placement="left" class="icon">
  <i class="add">Add compo</i>
</a>

<dialog id="add-compo">
  <article>
    <header>
      <a href="#close" aria-label="Close" rel="prev"></a>
      Add compo
    </header>
    <form action="/compos" method="POST">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required placeholder="Name">
      </div>

      <div class="form-group">
        <label for="type">Type:</label>
        <select name="type" id="type">
          {{ range .CompoTypes }}
            <option value="{{ . }}">{{ if . }}{{ title . }}{{ else }}Undefined{{ end }}</option>
          {{ end }}
        </select>
      </div>

      <div class="form-group">
        <label for="description">Description: <span class="fade">(Markdown supported)</span></label>
        <textarea name="description" id="description" rows="4" placeholder="Description">{{ .Compo.Description }}</textarea>
      </div>

      <fieldset>
        <label>
          <input type="checkbox"
                 name="multiplatform"
                 id="multiplatform"
                 value="true"
                 role="switch"
                 {{ if .Compo.MultiPlatform }}checked{{ end }}>
          <span class="label-body">Multi-platform</span>
        </label>
        <input type="hidden" name="multiplatform" value="false">
      </fieldset>

      <input type="submit" value="Add">
    </form>
  </article>
</dialog>
{{ end }}

{{ define "main" }}
<div id="content" {{ if eq (len .Compos) 0 }}class="empty"{{ end }}>
  <h2>Compos</h2>
  <table>
    <thead>
      <tr>
        <th class="name">Name</th>
        <th class="type">Type</th>
        <th class="entries">Entries</th>
        <th class="action">Action</th>
      </tr>
    </thead>
    <tbody>
    {{ range .Compos }}
    <tr class="deletable">
      <td><a href="{{ .Path }}">{{ .Name }}</a></td>
      <td>{{ if .Type }}{{ title .Type }}{{ else }}Undefined{{ end }}</td>
      <td class="entries">{{ len .Entries }}</td>
      <td class="action">
        <a href="#delete-compo-{{ .ID }}"
           data-tooltip="Delete {{ .Name }}"
           class="icon"><i class="delete">Delete compo</i></a>

        <dialog id="delete-compo-{{ .ID }}">
          <article>
            <header>
              <a href="#close" aria-label="Close" rel="prev"></a>
              Delete compo
            </header>
            <p>Are you sure you want to delete ‟{{ .Name }}”?</p>
            <form action="{{ .Path }}" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <button name="delete" type="submit">
                Delete <i class="icon delete"></i>
              </button>
            </form>
          </article>
        </dialog>
      </td>
    </tr>
    {{ end }}
    </tbody>
  </table>
</div>
{{ end }}
