{{ define "title" }}{{ .Compo.Name }}{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/compos">Compos</a></li>
    <li><a href="{{ .Compo.Path }}">{{ .Compo.Name }}</a></li>
  </ul>
{{ end }}
{{ define "actions" }}
<ul>
  <li>
    <a href="{{ .Compo.ArchivePath }}"
       class="icon"
       data-tooltip="Download a ZIP archive of ‟{{ .Compo.Name }}”"
       data-placement="left">
       <i class="download">Download archive</i>
    </a>
  </li>
  <li>
    <a href="#add-entry" class="icon" data-tooltip="Add entry" data-placement="left">
      <i class="add">Add entry</i>
    </a>

    <dialog id="add-entry">
      <article>
        <header>
          <a href="#close" aria-label="Close" rel="prev"></a>
          Add entry
        </header>
        <form action="{{ .Compo.Path }}/entries" method="POST">
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" required placeholder="Title">
          </div>
          <div class="form-group">
            <label for="author">Author:</label>
            <input type="text" name="author" id="author" required placeholder="Author">
          </div>
          {{ if .Compo.MultiPlatform }}
          <div class="form-group">
            <label for="platform">Platform:</label>
            <input type="text" name="platform" id="platform" placeholder="Platform">
          </div>
          {{ end }}
          <div class="form-group">
            <label for="notes">Notes:</label>
            <textarea name="notes" id="notes" rows="4" placeholder="Notes"></textarea>
          </div>
          <input type="submit" value="Add">
        </form>
      </article>
    </dialog>

  </li>
</ul>

{{ end }}
{{ define "main" }}
<h2>{{ .Compo.Name }}{{ with .Compo.Locked }} 🔒{{ end }}</h2>

{{ $multiPlatform := .Compo.MultiPlatform }}
<div id="content" {{ if eq (len .Compo.Entries) 0 }}class="empty"{{ end }}>
  <h3>Entries</h3>
  <table class="entries">
    <thead>
      <tr>
        <th class="author">Author</th>
        <th class="name">Name</th>
        {{ if $multiPlatform }}<th class="platform">Platform</th>{{ end }}
        <th class="uploads">Uploads</th>
        <th class="action">Action</th>
      </tr>
    </thead>
    <tbody>
    {{ range .Compo.Entries }}
    <tr class="deletable">
      <td>{{ .Author }}</td>
      <td><a href="{{ .Path }}">{{ .Title }}</a></td>
      {{ if $multiPlatform }}<td>{{ .Platform }}</td>{{ end }}
      <td class="uploads">{{ len .Uploads }}</td>
      <td class="action">
        <a href="#delete-entry-{{ .ID }}" class="icon" data-tooltip="Delete entry" data-placement="left">
          <i class="delete">Delete entry</i>
        </a>

        <dialog id="delete-entry-{{ .ID }}">
          <article>
            <header>
              <a href="#close" aria-label="Close" rel="prev"></a>
              Delete entry
            </header>
            <p>Are you sure you want to delete ‟{{ .Title }}”?</p>
            <form action="{{ .Path }}" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <button name="delete" type="submit">Delete <i class="icon delete"></i></button>
            </form>
          </article>
        </dialog>
      </td>
    </tr>
    {{ end }}
    </tbody>
  </table>
</div>

<form action="{{ .Compo.Path }}" method="post">
  <input type="hidden" name="_method" value="PUT">

  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" required placeholder="Name" value="{{ .Compo.Name }}">
  </div>

  <div class="form-group">
    <label for="type">Type:</label>
    {{ $compoType := .Compo.Type }}
    <select name="type" id="type">
      {{ range .CompoTypes }}
        <option value="{{ . }}" {{ if eq . $compoType }}selected="selected"{{ end }}>
          {{ if . }}{{ title . }}{{ else }}Undefined{{ end }}
        </option>
      {{ end }}
    </select>
  </div>

  <div class="form-group">
    <label>
      <input type="checkbox" name="multiplatform" id="multiplatform" value="true" {{ if .Compo.MultiPlatform }} checked{{ end }}>
      <span class="label-body">Multi-platform</span>
    </label>
    <input type="hidden" name="multiplatform" value="false">
  </div>

  <div class="form-group">
    <label>
      <input type="checkbox" name="locked" id="locked" value="true" {{ if .Compo.Locked }} checked{{ end }}>
      <span class="label-body">Locked</span>
    </label>
    <input type="hidden" name="locked" value="false">
  </div>

  <div class="form-group">
    <label for="description">Description: <span class="fade">(Markdown supported)</span></label>
    <textarea name="description" id="description" rows="4" placeholder="Description">{{ .Compo.Description }}</textarea>
  </div>

  <input type="submit" value="Update">
</form>
{{ end }}
