{{ define "title" }}Entries{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/entries">Entries</a></li>
  </ul>
{{ end }}
{{ define "actions" }}<!---->{{ end }}
{{ define "main" }}
<h2>All entries</h2>
<div id="content" {{ if eq (len .Entries) 0 }}class="empty"{{ end }}>
  <table class="entries">
    <thead>
      <tr>
        <th class="author">Author</th>
        <th class="name">Name</th>
        <th class="compo">Compo</th>
        <th class="platform">Platform</th>
        <th class="uploads">Uploads</th>
        <th class="action">Action</th>
      </tr>
    </thead>
    <tbody>
    {{ range .Entries }}
    <tr class="deletable">
      <td>{{ .Author }}</td>
      <td><a href="{{ .Path }}">{{ .Title }}</a></td>
      <td><a href="{{ .Compo.Path }}">{{ .Compo.Name }}</a></td>
      <td>{{ .Platform }}</td>
      <td class="uploads">{{ len .Uploads }}</td>
      <td class="action">
        <a href="#delete-entry-{{ .ID }}" class="icon" data-tooltip="Delete entry" data-placement="left">
          <i class="delete">Delete entry</i>
        </a>

        <dialog id="delete-entry-{{ .ID }}">
          <article>
            <header>
              <a href="#close" aria-label="Close" rel="prev"></a>
              Delete entry
            </header>
            <p>Are you sure you want to delete ‟{{ .Title }}”?</p>
            <form action="{{ .Path }}" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <button name="delete" type="submit">Delete <i class="icon delete"></i></button>
            </form>
          </article>
        </dialog>
      </td>
    </tr>
    {{ end }}
    </tbody>
  </table>
</div>
{{ end }}
