{{ define "title" }}{{ .Entry.Title }}{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/entries">Entries</a></li>
    <li><a href="{{ .Entry.Path }}">{{ .Entry.Title }}</a></li>
  </ul>
{{ end }}

{{ define "actions" }}
<ul>
  <li>
    <a href="#edit-entry" class="icon" title="Edit entry" data-tooltip="Edit entry" data-placement="left">
      <i class="edit">Edit entry</i>
    </a>

    <dialog id="edit-entry">
      <article>
        <header>
          <a href="#close" aria-label="Close" rel="prev"></a>
          Edit {{ .Entry.Title }}
        </header>
        <form action="{{ .Entry.Path }}" method="post">
          <input type="hidden" name="_method" value="PUT">

          <div class="form-group">
            <label for="compo">Competition:</label>
            <select id="compo" name="compo" required>
              {{ $compoID := .Entry.CompoID }}
              {{ range .Compos }}
              <option value="{{ .ID }}" data-multiplatform="{{ .MultiPlatform }}"{{ if eq $compoID .ID }} selected{{ end }}>{{ .Name }}</option>
              {{ end }}
            </select>
          </div>

          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" required placeholder="Title" value="{{ .Entry.Title }}">
          </div>

          <div class="form-group">
            <label for="author">Author:</label>
            <input type="text" name="author" id="author" required placeholder="Author" value="{{ .Entry.Author }}">
          </div>

          <div class="form-group">
            <label for="platform">Platform:</label>
            <input type="text" name="platform" id="platform" placeholder="Platform" value="{{ .Entry.Platform }}">
          </div>

          <div class="form-group">
            <label for="notes">Notes: <span class="fade">(Markdown supported)</span></label>
            <textarea name="notes" id="notes" rows="4" placeholder="Notes">{{ .Entry.Notes }}</textarea>
          </div>

          <div class="form-group">
            <label>
              <input type="checkbox" name="locked" id="locked" value="true" {{ if .Entry.Locked }} checked{{ end }}>
              <span class="label-body">Locked</span>
            </label>
            <input type="hidden" name="locked" value="false">
          </div>

          <input type="submit" value="Update">
        </form>
      </article>
    </dialog>
  </li>
  <li>
    <a href="#add-upload" class="icon" data-tooltip="Add upload" data-placement="left">
      <i class="add">Add upload</i>
    </a>

    <dialog id="add-upload">
      <article>
        <header>
          <a href="#close" aria-label="Close" rel="prev"></a>
          Add upload to {{ .Entry.Title }}
        </header>
        <form action="{{ .Entry.Path }}/uploads" method="POST" enctype="multipart/form-data">
          <label for="file">File:</label>
          <input type="file" name="file" id="file" required>
          <input type="submit" value="Add">
        </form>
      </article>
    </dialog>
  </li>
</ul>
{{ end }}

{{ define "main" }}
<h2>{{ .Entry.Title }} by {{ .Entry.Author }}</h2>

<div class="entry-frame">
  <iframe src="{{ .Entry.Path }}/preview"></iframe>
</div>

<div id="content" {{ if eq (len .Entry.Uploads) 0 }}class="empty"{{ end }}>
  <h3>Uploads</h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th class="size">Size</th>
        <th class="action">Action</th>
      </tr>
    </thead>
    <tbody>
    {{ range .Entry.Uploads }}
    <tr class="deletable">
      <td><a href="{{ .Path }}">{{ .Filename }}</a></td>
      <td class="size" title="{{ .ContentSize }} bytes">{{ humanize "bytes" .ContentSize }}</td>
      <td class="action">
        <a href="#delete-upload-{{ .ID }}" class="icon" data-tooltip="Delete upload" data-placement="left">
          <i class="delete">Delete upload</i>
        </a>

        <dialog id="delete-upload-{{ .ID }}">
          <article>
            <header>
              <a href="#close" aria-label="Close" rel="prev"></a>
              Delete upload
            </header>
            <p>Are you sure you want to delete the upload ‟{{ .Filename }}”?</p>
            <form action="{{ .Path }}" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <button name="delete" type="submit">Delete <i class="icon delete"></i></button>
            </form>
          </article>
        </dialog>
      </td>
    </tr>
    {{ end }}
    </tbody>
  </table>
</div>
{{ end }}
