{{ define "title" }}Invites{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/invites">Invites</a></li>
  </ul>
{{ end }}
{{ define "actions" }}
<a href="#add-invite" class="icon" data-tooltip="Add invite" data-placement="left">
  <i class="add">Add invite</i>
</a>
<a href="#generate-invites" class="icon" data-tooltip="Generate invites" data-placement="left">
  <i class="list">Generate invites</i>
</a>

<dialog id="add-invite">
  <article>
    <header>
      <a href="#close" aria-label="Close" rel="prev"></a>
      Add invite
    </header>
    <form action="/invites" method="POST">
      <div class="form-group">
        <label for="key">Key:</label>
        <input type="text" name="key" id="key" required placeholder="Key">
      </div>
      <input type="submit" value="Add">
    </form>
  </article>
</dialog>

<dialog id="generate-invites">
  <article>
    <header>
      <a href="#close" aria-label="Close" rel="prev"></a>
      Generate invites
    </header>
    <form action="/invites/generate" method="POST">
      <div class="form-group">
        <label for="digits">Amount:</label>
        <input type="number" id="amount" name="amount" min="1" max="1000" value="150">
      </div>

      <div class="form-group">
        <label for="prefix">Prefix:</label>
        <input type="text" name="prefix" id="prefix" placeholder="Prefix">
      </div>

      <div class="form-group">
        <label for="digits">Digits:</label>
        <input type="number" id="digits" name="digits" min="5" max="20" value="10">
      </div>

      <fieldset>
        <legend>Character classes:</legend>
        <input type="checkbox" id="lowercase" name="classes[]" value="lowercase" checked>
        <label for="lowercase" class="label-body">a-z</label><br>
        <input type="checkbox" id="uppercase" name="classes[]" value="uppercase" checked>
        <label for="uppercase" class="label-body">A-Z</label><br>
        <input type="checkbox" id="digits" name="classes[]" value="digits" checked>
        <label for="digits" class="label-body">0-9</label><br>
      </fieldset>

      <div class="form-group">
        <label for="suffix">Suffix:</label>
        <input type="text" name="suffix" id="suffix" placeholder="Suffix">
      </div>

      <input type="submit" value="Generate">
    </form>
  </article>
</dialog>

{{ end }}
{{ define "main" }}
  {{ $baseURL := .Config.BaseURL }}
  {{ if gt (len .Invites) 0 }}
  <h2>Invites</h2>
  <table>
    <tr>
      <th>Key</th>
      <th>QR</th>
      <th>User</th>
    </tr>
    {{ range .Invites }}
    <tr>
      <td><code class="clipboard-copy">{{ .Key }}</code></td>
      <td><a href="{{ .RegisterURL $baseURL }}"><img class="qr-code" src="data:image/png;base64,{{ .QrCode $baseURL | base64 }}"></a></td>
      <td>
        {{ with .User }}
          {{ .Email }}
        {{ end }}
      </td>
    </tr>
    {{ end }}
  </table>
  {{ end }}
{{ end }}
