{{ define "title" }}{{ .Playlist.Name }}{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/playlists">Playlists</a></li>
    <li><a href="{{ .Playlist.Path }}">{{ .Playlist.Name }}</a></li>
  </ul>
{{ end }}
{{ define "actions" }}
  <ul>
    <li>
      <a href="#edit" class="icon" data-tooltip="Edit {{ .Playlist.Name }}" data-placement="left">
        <i class="edit">Edit {{ .Playlist.Name }}</i>
      </a>

      <dialog id="edit">
        <article>
          <header>
            <a href="#close" aria-label="Close" rel="prev"></a>
            Edit {{ .Playlist.Name }}
          </header>

          <form action="{{ .Playlist.Path }}{{ if .SelectedCompo }}?compo={{ .SelectedCompo.ID }}{{ end }}" method="post">
            <input type="hidden" name="_method" value="PUT">

            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" name="name" id="name" required placeholder="Name" value="{{ .Playlist.Name }}">
              <input type="submit" value="Update">
            </div>
          </form>
        </article>
      </dialog>
    </li>
    <li>
      <a href="#download-archive" class="icon" data-tooltip="Download archive" data-placement="left">
        <i class="download">Download archive</i>
      </a>

      <dialog id="download-archive">
        <article>
          <header>
            <a href="#close" aria-label="Close" rel="prev"></a>
            Download archive
          </header>
          <p>Download a ZIP archive of {{ .Playlist.Name }}.</p>
          <form method="get" action="{{ .Playlist.ArchivePath }}">
            <fieldset>
              <label title="Include the order of each entry in the name of each entry">
                <input type="checkbox" role="switch" name="ordered" id="ordered" value="true" checked="checked">
                <span class="label-body">Ordered</span>
              </label>
            </fieldset>
            <button title="Download a ZIP archive of {{ .Playlist.Name }}"
                    type="submit">Download <i class="icon download"></i></button>
          </form>
        </article>
      </dialog>
    </li>
    <li>
      {{ if .Playlist.VotingClosedAt.Valid }}
        {{ template "openRegularVotingForm" .Playlist }}
      {{ else if .Playlist.LiveVotingClosedAt.Valid }}
        {{ template "openLiveVotingForm" .Playlist }}
      {{ else }}
        <form action="{{ .Playlist.Path }}/preview"
            method="get"
            data-placement="left"
          {{ if eq (len .Playlist.Entries) 0 }}
            data-tooltip="Cannot preview because {{ .Playlist.Name }} contains no entries"
          {{ else }}
              data-tooltip="Preview {{ .Playlist.Name }}"
          {{ end }}>
          <button {{ if eq (len .Playlist.Entries) 0 }}disabled="disabled"{{ end }}
            class="icon">
            <i class="preview">Preview {{ .Playlist.Name }}</i>
          </button>
        </form>
      {{ end }}
    </li>
  </ul>
{{ end }}

{{ define "openRegularVotingForm" }}
  <form action="{{ .Path }}" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="action" value="open">
    <button data-tooltip="Reopen {{ .Name }} for regular voting. (Closed for regular voting {{ humanize "time" .VotingClosedAt.Time }})"
            class="icon open"
            type="submit"
            class="button show">Reopen {{ .Name }} for regular voting</button>
  </form>
{{ end }}

{{ define "openLiveVotingForm" }}
  <form action="{{ .Path }}" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="action" value="open">
    <button data-tooltip="Reopen {{ .Name }} for live-voting. (Closed for live-voting {{ humanize "time" .LiveVotingClosedAt.Time }})"
            data-placement="bottom"
            class="icon open"
            type="submit"
            class="button show">Reopen {{ .Name }} for live-voting</button>
  </form>

  <form action="{{ .Path }}" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="action" value="close">
    <button data-tooltip="Close {{ .Name }} for regular voting. (Closed for live-voting {{ humanize "time" .LiveVotingClosedAt.Time }})"
            data-placement="bottom"
            class="icon close"
            type="submit"
            class="button show">Close {{ .Name }} for regular voting</button>
  </form>
{{ end }}

{{ define "results" }}
  <h2>Votes of {{ .Playlist.Name }}</h2>

  <table>
    <thead>
      <th>#</th>
      <th>Title</th>
      <th>Author</th>
      <th>Score</th>
    </thead>
    <tbody>
    {{ $position := 1 }}
    {{ range .Results }}
      {{ $split := len . }}
      {{ range $i, $pos := . }}
      <tr>
          {{ if eq $i 0 }}
          <th rowspan="{{ $split }}">{{ $position }}</th>
          {{ end }}
          <td>{{ .Entry.Title }}</td>
          <td>{{ .Entry.Author }}</td>
          <td>{{ .Score }}</td>
      </tr>
      {{ end }}
      {{ $position = add $position $split }}
    {{ end }}
    <tbody>
  </table>
{{ end }}

{{ define "main" }}
  {{ $r := . }}
  <h2>{{ .Playlist.Name }}</h2>

  <div id="content" {{ if eq (len .Playlist.Entries) 0 }}class="empty"{{ end }}>
    <h3>Added entries</h3>
    <table class="entries">
      <thead>
        <tr>
          <th class="order" title="Order">#</th>
          <th class="author">Author</th>
          <th class="name">Name</th>
          <th class="platform">Platform</th>
          <th class="uploads">Uploads</th>
          <th class="action">Action</th>
        </tr>
      </thead>
      <tbody>
      {{ range $i, $e := .Playlist.Entries }}
        {{ $first := eq $i 0 }}
        {{ $last := eq (add $i 1) (len $r.Playlist.Entries) }}
        {{ $votingClosed := or $e.Playlist.VotingClosedAt.Valid $e.Playlist.LiveVotingClosedAt.Valid }}
        {{ $path := $e.Path }}
        {{ if $r.SelectedCompo }}
          {{ $path = print $path "?compo=" $r.SelectedCompo.ID }}
        {{ end }}
        <tr class="deletable">
          <td>{{ $e.Order }}</td>
          <td>{{ .Entry.Author }}</td>
          <td><a href="{{ $e.Entry.Path }}">{{ $e.Entry.Title }}</a></td>
          <td>{{ .Entry.Platform }}</td>
          <td class="uploads">{{ len $e.Entry.Uploads }}</td>
          <td class="action">
            <form action="{{ $path }}" method="post">
              <input type="hidden" name="_method" value="PATCH">
              <input type="hidden" name="direction" value="up">
              <button {{ if or $first $votingClosed }}disabled="disabled"{{ end }}
                      data-tooltip="Move entry up"
                      data-placement="left"
                      type="submit"
                      class="icon"
                      name="up">
                <i class="up">Move entry up</i>
              </button>
            </form>
            <form action="{{ $path }}" method="post">
              <input type="hidden" name="_method" value="PATCH">
              <input type="hidden" name="direction" value="down">
              <button {{ if or $last $votingClosed }}disabled="disabled"{{ end }}
                      data-tooltip="Move entry down"
                      data-placement="left"
                      class="icon"
                      name="down"
                      type="submit">
                <i class="down">Move entry down</i>
              </button>
            </form>

            <a href="#remove-entry-{{ $e.EntryID }}" class="icon" data-tooltip="Delete entry" data-placement="left">
              <i class="delete">Delete entry</i>
            </a>

            <dialog id="remove-entry-{{ $e.EntryID }}">
              <article>
                <header>
                  <a href="#close" aria-label="Close" rel="prev"></a>
                  Remove entry from playlist
                </header>
                <p>Are you sure you want to remove ‟{{ $e.Entry.Title }}” from {{ $r.Playlist.Name }}?</p>
                <form action="{{ $path }}" method="post">
                  <input type="hidden" name="_method" value="DELETE">
                  <button {{ if $votingClosed }}disabled="disabled"{{ end }}
                          name="delete"
                          type="submit">Delete <i class="icon delete"></i></button>
                </form>
              </article>
            </dialog>
          </td>
        </tr>
      {{ end }}
      </tbody>
    </table>
  </div>

  {{ if and .Compos (and (not .Playlist.VotingClosedAt.Valid) (not .Playlist.LiveVotingClosedAt.Valid)) }}
    <h3>Compos</h3>
    <div class="form-group">
      <ul>
      {{ range .Compos }}
      <li><a href="{{ $r.Playlist.Path }}?compo={{ .ID }}">{{ .Name }}</a></li>
      {{ end }}
      </ul>
    </div>
  {{ end }}

  {{ if .SelectedCompo }}
    {{ $multiPlatform := .SelectedCompo.MultiPlatform }}
    <h4>Entries in {{ .SelectedCompo.Name }}</h4>
    <div class="form-group {{ if eq (len .SelectedCompo.Entries) 0 }} empty{{ end }}">
      <table class="entries">
        <thead>
          <tr>
            <th class="author">Author</th>
            <th class="name">Name</th>
            <th class="action">Action</th>
          </tr>
        </thead>
        <tbody>
        {{ range .SelectedCompo.Entries }}
        <tr>
          <td>{{ .Author }}</td>
          <td><a href="{{ .Path }}">{{ .Title }}</a></td>
          {{ if $multiPlatform }}<td>{{ .Platform }}</td>{{ end }}
          <td class="action">
            {{ $playlistEntry := $r.Playlist.GetEntry .ID }}
            {{ if or (not $playlistEntry) (not (eq $playlistEntry.PlaylistID $r.Playlist.ID)) }}
            <form action="{{ $r.Playlist.Path }}/entries/{{ if $r.SelectedCompo }}?compo={{ $r.SelectedCompo.ID }}{{ end }}" method="post">
              <input type="hidden" name="entry" value="{{ .ID }}">
              <input type="hidden" name="order" value="{{ len $r.Playlist.Entries }}">
              <button name="add" type="submit">Add</button>
            </form>
            {{ end }}
          </td>
        </tr>
        {{ end }}
        </tbody>
      </table>
    </div>
  {{ end }}

  {{ template "results" .Results }}
{{ end }}
