{{ define "title" }}Preview of {{ .Preview.Name }}{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/playlists">Playlists</a></li>
    <li><a href="{{ .Preview.Playlist.Path }}">{{ .Preview.Name }}</a></li>
    <li><a href="{{ .Preview.Path }}">Preview</a></li>
  </ul>
{{ end }}

{{ define "actions" }}
<ul>
  <li>
    <a href="#show"
       class="icon"
       data-tooltip="Show {{ .Preview.Name }}"
       data-placement="left">
       <i class="show">Show {{ .Preview.Name }}</i>
    </a>

    <dialog id="show">
      <article>
        <header>
          <a href="#close" aria-label="Close" rel="prev"></a>
          Show {{ .Preview.Name }}
        </header>
        <p>
          Starting a <em>show</em> of ‟{{ .Preview.Name }}” opens the first
          entry within it up for live voting and for viewing on the big
          screen.
        </p>
        <form action="{{ .Preview.Playlist.Path }}" method="post">
          <input type="hidden" name="_method" value="PATCH">
          <input type="hidden" name="action" value="show">
          <button type="submit">
            Show {{ .Preview.Name }} <i class="icon show"></i>
          </button>
        </form>
      </article>
    </dialog>
  </li>
</ul>
{{ end }}

{{ define "main" }}
  <h2>Preview of {{ .Preview.Name }}</h2>

  <p>
    Browse through the entries of ‟{{ .Preview.Name }}” to verify their
    appearance before showing them on the big screen by going into <a
    href="#show">show</a> mode.
  </p>

  {{ if gt (len .Preview.Entries) 0 }}
    {{ $index := (sub .Preview.SlideNumber 1) }}
    {{ $prev := (sub .Preview.SlideNumber 1) }}
    {{ $next := (add .Preview.SlideNumber 1) }}
    {{ $first := eq .Preview.SlideNumber 1 }}
    {{ $last := eq .Preview.SlideNumber (len .Preview.Entries) }}
    {{ $prevTitle := "Go back to the previous entry" }}
    {{ $nextTitle := "Go forward to the next entry" }}
    {{ if $last }}
      {{ $next = 1 }}
      {{ $nextTitle = "Wrap around and go to the first entry" }}
    {{ end }}
    {{ if $first }}
      {{ $prev = (len .Preview.Entries) }}
      {{ $prevTitle = "Wrap around and go to the last entry" }}
    {{ end }}

    {{ with (index .Preview.Entries $index) }}
      <nav class="paging">
        <ol>
          <li>
            <a title="{{ $prevTitle }}"
               class="icon"
               rel="{{ if $first }}last{{ else }}prev{{ end }}"
               href="{{ .Playlist.Path }}/preview/{{ $prev }}">
              {{ if $first }}↪️{{ else }}⬅️{{ end }}
            </a>
          </li>
          <li>
            <a title="{{ $nextTitle }}"
               class="icon"
               rel="{{ if $last }}first{{ else }}next{{ end }}"
               href="{{ .Playlist.Path }}/preview/{{ $next }}">
              {{ if $last }}↩️{{ else }}➡️{{ end }}
            </a>
          </li>
        </ol>
      </nav>

      <div class="entry-frame">
        <iframe src="{{ .Path }}"></iframe>
      </div>
    {{ end }}
  {{ end }}
{{ end }}
