{{ define "title" }}Playlists{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/prizegiving">Prizegiving</a></li>
  </ul>
{{ end }}
{{ define "actions" }}
<ul>
  <li>
    <form action="/prizegiving/preview" method="get">
      <button class="btn-icon preview"
              {{ if eq (len .Playlists) 0 }}
              disabled="disabled"
              title="Cannot preview because no playlists exist"
              {{ else }}
              data-tooltip="Preview Prizegiving"
              data-placement="bottom"
              {{ end }}>Preview Prizegiving</button>
    </form>
  </li>
</ul>
{{ end }}
{{ define "main" }}
{{ $r := . }}
<div id="content" {{ if eq (len .Playlists) 0 }}class="empty"{{ end }}>
  <h2>Playlists</h2>

  <table>
    <thead>
      <tr>
        <th class="name">Name</th>
        <th class="entries">Entries</th>
        <th class="action">Position</th>
        <th class="action">Show</th>
      </tr>
    </thead>
    <tbody>
    {{ range $i, $e := .Playlists }}
      {{ $first := eq $i 0 }}
      {{ $last := eq (add $i 1) (len $r.Playlists) }}
      {{ $path := $e.Path }}
      <tr>
        <td><a href="{{ $e.Path }}">{{ $e.Name }}</a></td>
        <td class="entries">{{ len $e.Entries }}</td>
        <td class="action">
          <form action="{{ $path }}" method="post">
            <input type="hidden" name="_method" value="PATCH">
            <input type="hidden" name="direction" value="up">
            <button class="btn-icon up" name="up" type="submit" {{ if or $first }}disabled="disabled"{{ end }}>⬆︎</button>
          </form>
          <form action="{{ $path }}" method="post">
            <input type="hidden" name="_method" value="PATCH">
            <input type="hidden" name="direction" value="down">
            <button class="btn-icon down" name="down" type="submit" {{ if or $last }}disabled="disabled"{{ end }}>⬇︎</button>
          </form>
        </td>
        <td class="action">
          <a href="#close-voting" class="btn-icon show">Use in prizegiving</a>

          <dialog id="close-voting">
            <article>
              <header>
                <a href="#close" aria-label="Close" rel="prev"></a>
                Close all voting
              </header>
              <p>Close voting for all playlists.</p>
              <form action="{{ .Path }}" method="post">
                <input type="hidden" name="_method" value="PATCH">
                <input type="hidden" name="action" value="close">
                <button type="submit">Close all voting <i class="icon lock"></i></button>
              </form>
            </article>
          </dialog>
        </td>
      </tr>
    {{ end }}
    </tbody>
  </table>
</div>

{{ end }}
