{{ define "title" }}Show of Prizegiving for {{ .Show.Name }}{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/playlists">Playlists</a></li>
    <li><a href="{{ .Show.Playlist.Path }}">{{ .Show.Name }}</a></li>
    <li><a href="{{ .Show.Path }}">Show</a></li>
  </ul>
{{ end }}

{{ define "actions" }}
<ul>
  <li>
    <a href="#close-voting" class="btn-icon close">Close {{ .Show.Name }} for live-voting</a>

    <dialog id="close-voting">
      <article>
        <header>
          <a href="#close" aria-label="Close" rel="prev"></a>
          Close for live-voting
        </header>
        <p>
          <strong>Close ‟{{ .Show.Name }}” for live-voting.</strong>
          This will prevent users from live-voting on entries within the
          playlist, but will still allow them to vote regularly (non-live).
        </p>
        <form action="{{ .Show.Playlist.Path }}" method="post">
          <input type="hidden" name="_method" value="PATCH">
          <input type="hidden" name="action" value="close">
          <button type="submit" title="Close {{ .Show.Name }} for live-voting">Close <i class="icon lock"></i></button>
        </form>
      </article>
    </dialog>
  </li>
</ul>
{{ end }}

{{ define "main" }}
  <h2>Show of Prizegiving for {{ .Show.Name }}</h2>

  {{ $index := (sub .Show.SlideNumber 1) }}
  {{ $next := (add .Show.SlideNumber 1) }}
  {{ $last := eq .Show.SlideNumber (len .Show.Entries) }}
  {{ if $last }}
    {{ $next = 1 }}
    <p>
      This is the last entry in ‟{{ .Show.Name }}”, concluding its show.
      You should now probably <a href="#close-voting">Close live-voting</a>.
    </p>
  {{ else }}
    <p>Showing entry number {{ $index }} in ‟{{ .Show.Name }}”.</p>
  {{ end }}

  {{ with (index .Show.Entries $index) }}
    <form class="paging" method="post" action="{{ .Playlist.Path }}/show/{{ $next }}" rel="next">
      <input type="hidden" name="action" value="show">
      <button class="btn-icon" name="next" type="submit"
        {{ if $last }}
          disabled="disabled"
          title="This is the last entry in the playlist"
        {{ else }}
          data-tooltip="Advance to the next entry"
        {{ end }}>Next entry</button>
    </form>

    <div class="prizegiving-frame">
      <iframe id="prizegiving-frame" src="/prizegiving/1"></iframe>
    </div>
  {{ end }}
{{ end }}
