{{ define "title" }}Preview of Prizegiving{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/prizegiving">Prizegiving</a></li>
    <li><a href="{{ .Preview.Path }}">Preview</a></li>
  </ul>
{{ end }}

{{ define "actions" }}
<ul>
  <li>
    <a href="#show"
       class="btn-icon show"
       data-tooltip="Show Prizegiving"
       data-placement="bottom">Show Prizegiving</a>

    <dialog id="show">
      <article>
        <header>
          <a href="#close" aria-label="Close" rel="prev"></a>
          Show Prizegiving
        </header>
        <p>
          Starting a <em>show</em> of ‟Prizegiving” opens the first
          entry within it up for live voting and for viewing on the big
          screen.
        </p>
        <form action="{{ .Preview.Playlist.Path }}" method="post">
          <input type="hidden" name="_method" value="PATCH">
          <input type="hidden" name="action" value="show">
          <button type="submit">Show Prizegiving <i class="icon show"></i></button>
        </form>
      </article>
    </dialog>
  </li>
</ul>
{{ end }}

{{ define "main" }}
  <h2>Preview of Prizegiving</h2>

  <p>
    Browse through the entries of Prizegiving to verify their
    appearance before showing them on the big screen by going into <a
    href="#show">show</a> mode.
  </p>

  {{ if gt (len .PlayLists) 0 }}
    {{ $prevTitle := "Go back to the previous entry" }}
    {{ $nextTitle := "Go forward to the next entry" }}
    {{ with (index .PlayLists 0) }}
      <nav class="paging">
        <ol>
          <li>
            <a title="{{ $prevTitle }}"
               rel="last"
               class="btn-icon"
               onclick="document.getElementById('prizegiving-frame').contentWindow.location.reload();">
              ↪️
            </a>
          </li>
          <li>
            <a title="{{ $nextTitle }}"
               rel="next"
               class="btn-icon"
               onclick="document.getElementById('prizegiving-frame').contentWindow.document.dispatchEvent(new KeyboardEvent('keydown', {'key': ' '}));">
              ➡️
            </a>
          </li>
        </ol>
      </nav>

      <div class="prizegiving-frame">
        <iframe id="prizegiving-frame" src="/prizegiving/1"></iframe>
      </div>
    {{ end }}
  {{ end }}
{{ end }}
