{{ define "title" }}Uploads{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/uploads">Uploads</a></li>
  </ul>
{{ end }}
{{ define "actions" }}<!---->{{ end }}
{{ define "main" }}
<h2>All uploads</h2>
<div id="content" {{ if eq (len .Uploads) 0 }}class="empty"{{ end }}>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th class="size">Size</th>
        <th class="action">Action</th>
      </tr>
    </thead>
    <tbody>
    {{ range .Uploads }}
    <tr class="deletable">
      <td><a href="{{ .Path }}">{{ .Filename }}</a></td>
      <td class="size" title="{{ .ContentSize }} bytes">{{ humanize "bytes" .ContentSize }}</td>
      <td class="action">
        <a href="#delete-upload-{{ .ID }}" class="icon" data-tooltip="Delete upload" data-placement="left">
          <i class="delete">Delete upload</i>
        </a>

        <dialog id="delete-upload-{{ .ID }}">
          <article>
            <header>
              <a href="#close" aria-label="Close" rel="prev"></a>
              Delete upload
            </header>
            <p>Are you sure you want to delete the upload ‟{{ .Filename }}”?</p>
            <form action="{{ .Path }}" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <button name="delete" type="submit">Delete <i class="icon delete"></i></button>
            </form>
          </article>
        </dialog>
      </td>
    </tr>
    {{ end }}
    </tbody>
  </table>
</div>
{{ end }}
