{{ define "title" }}{{ .Upload.Filename }}{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/entries">Entries</a></li>
    <li><a href="{{ .Upload.Entry.Path }}">{{ .Upload.Entry.Title }}</a></li>
    <li><a href="{{ .Upload.Path }}">{{ .Upload.Filename }}</a></li>
  </ul>
{{ end }}
{{ define "actions" }}<!---->{{ end }}
{{ define "main" }}
<h2 class="filename">{{ .Upload.Filename }}</h2>
{{ $uploadPath := (print .Upload.Path "/data") }}
<a href="{{ $uploadPath }}">
{{ if .Upload.IsImage }}
  <img src="{{ $uploadPath }}" alt="{{ .Upload.Filename }}">
{{ else }}
  {{ .Upload.Filename }}
{{ end }}
</a>
{{ end }}
