{{ define "title" }}Users{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/users">Users</a></li>
  </ul>
{{ end }}
{{ define "actions" }}
<a href="#add-user" class="icon" data-tooltip="Add user" data-placement="left">
  <i class="add">Add user</i>
</a>

<dialog id="add-user">
  <article>
    <header>
      <a href="#close" aria-label="Close" rel="prev"></a>
      Add user
    </header>
    <form action="/users" method="POST">
      <div class="form-group">
        <label for="name">Email:</label>
        <input type="email" name="email" id="email" required placeholder="Email">
      </div>

      <div class="form-group">
        <label for="handle">Handle:</label>
        <input type="text" name="handle" id="handle" required placeholder="Handle">
      </div>

      <input type="submit" value="Add">
    </form>
  </article>
</dialog>
{{ end }}
{{ define "main" }}
<div id="content" {{ if eq (len .Users) 0 }}class="empty"{{ end }}>
  <h2>Users</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Handle</th>
        <th class="entries">Entries</th>
        <th class="action">Action</th>
      </tr>
    </thead>
    <tbody>
      {{ range .Users }}
      <tr class="deletable">
        <td>{{ .ID }}</td>
        <td><a href="{{ .Path }}">{{ .Email }}</a></td>
        <td>{{ .Handle }}</td>
        <td class="entries">{{ len .Entries }}</td>
        <td class="action">
          <a href="#delete-upload-{{ .ID }}" class="icon" data-tooltip="Delete user" data-placement="left">
            <i class="delete">Delete user</i>
          </a>

          <dialog id="delete-upload-{{ .ID }}">
            <article>
              <header>
                <a href="#close" aria-label="Close" rel="prev"></a>
                Delete user
              </header>
              <p>Are you sure you want to delete ‟{{ .Handle }}”?</p>
              <form action="{{ .Path }}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button name="delete" type="submit">Delete <i class="icon delete"></i></button>
              </form>
            </article>
          </dialog>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>

{{ end }}
