{{ define "title" }}{{ .User.Handle }}{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="{{ .User.Path }}">{{ .User.Handle }}</a></li>
  </ul>
{{ end }}
{{ define "actions" }}
<ul>
  <li>
    <a href="#edit-user" class="icon" data-tooltip="Edit user" data-placement="left">
      <i class="edit">Edit user</i>
    </a>

    <dialog id="edit-user">
      <article>
        <header>
          <a href="#close" aria-label="Close" rel="prev"></a>
          Edit user
        </header>
        <form action="{{ .User.Path }}" method="post">
          <input type="hidden" name="_method" value="PUT">

          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required placeholder="Email" value="{{ .User.Email }}">
          </div>

          <div class="form-group">
            <label for="handle">Handle:</label>
            <input type="text" name="handle" id="handle" required placeholder="Handle" value="{{ .User.Handle }}">
          </div>

          <input type="submit" value="Update">
        </form>
      </article>
    </dialog>

  </li>
</ul>
{{ end }}
{{ define "main" }}

<h2>{{ .User.Handle }}</h2>

<div id="content" {{ if eq (len .User.Entries) 0 }}class="empty"{{ end }}>
  <h3>Entries</h3>
  <table class="entries">
    <thead>
      <tr>
        <th class="author">Author</th>
        <th class="name">Name</th>
        <th class="compo">Compo</th>
        <th class="platform">Platform</th>
        <th class="uploads">Uploads</th>
        <th class="action">Action</th>
      </tr>
    </thead>
    <tbody>
    {{ range .User.Entries }}
    <tr class="deletable">
      <td>{{ .Author }}</td>
      <td><a href="{{ .Path }}">{{ .Title }}</a></td>
      <td><a href="{{ .Compo.Path }}">{{ .Compo.Name }}</a></td>
      <td>{{ .Platform }}</td>
      <td class="uploads">{{ len .Uploads }}</td>
      <td class="action">
        <a href="#delete-entry-{{ .ID }}" class="icon" data-tooltip="Delete entry" data-placement="left">
          <i class="delete">Delete entry</i>
        </a>

        <dialog id="delete-entry-{{ .ID }}">
          <article>
            <header>
              <a href="#close" aria-label="Close" rel="prev"></a>
              Delete entry
            </header>
            <p>Are you sure you want to delete ‟{{ .Title }}”?</p>
            <form action="{{ .Path }}" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <button name="delete" type="submit">Delete <i class="icon delete"></i></button>
            </form>
          </article>
        </dialog>
      </td>
    </tr>
    {{ end }}
    </tbody>
  </table>
</div>

{{ end }}
