<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <meta name="generator" content="Granola {{ granolaVersion }}">
    <title>{{ block "title" . }}Granola{{ end }}</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.min.css" integrity="sha256-3V/VWRr9ge4h3MEXrYXAFNw/HxncLXt9EB6grMKSdMI=" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/granola.css">
    <script src="/js/granola.js"></script>
    {{ block "head" . }}
    {{ end }}
  </head>
  <body class="{{ templateName }} container">
    <header>
      <nav>
        <ul><li><strong>Granola</strong></li></ul>
        {{ block "navigation" . }}
        {{ end }}
        {{ block "user" . }}
        {{ end }}
      </nav>
    </header>
    <main>
      <div id="top-bar">
        <nav aria-label="breadcrumb">
          {{ block "breadcrumbs" . }}
          {{ end }}
        </nav>
        <div class="actions">
          {{ block "actions" . }}
          {{ end }}
        </div>
      </div>
      {{ block "main" . }}
      {{ end }}
    </main>
    <footer>
      <a href="https://gitlab.com/granola-compo/granola/">Granola compo system</a>
    </footer>
  </body>
</html>
