<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Entry.Title }} by {{ .Entry.Author }}</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@picocss/pico@1.5.11/css/pico.classless.min.css" integrity="sha256-CZ7uJAluOFUQLQSm8v3gbPljLCdZH7LviJ03tcfLikw=" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/granola.css">
    <script src="/js/granola.js"></script>
  </head>
  <body id="entry-preview">
    <main>
      <h1><span class="entry-number">#{{ .EntryNumber }}</span> {{ .Entry.Title }}</h1>
      <h2>By {{ .Entry.Author }}</h2>
      <h3>Platform: {{ .Entry.Platform }}</h3>
      <h3>
        Competition:
        {{ if .Playlist }}
          {{ .Playlist.Name }}
        {{else}}
          {{ .Entry.Compo.Name }}
        {{ end }}
      </h3>
      {{ .Entry.NotesHtml }}
    </main>
  </body>
</html>
