{{ define "results" }}
<ul class="results" xmlns="http://www.w3.org/1999/html">
  {{ $position := 1 }}

  {{ range .Results }}
    {{ $split := len . }}
    {{ range $i, $pos := . }}
      <li class="result" data-score="{{ .Score }}">
          <span class="position">{{ $i }} - {{ $position }}</span>
          <span class="title">{{ .Entry.Title }}</span>
          <span class="author">{{ .Entry.Author }}</span>
          <span class="score">{{ .Score }}</span>
      </li>
    {{ end }}
    {{ $position = add $position $split }}
  {{ end }}
</ul>
{{ end }}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Prizegiving</title>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@picocss/pico@1.5.11/css/pico.classless.min.css" integrity="sha256-CZ7uJAluOFUQLQSm8v3gbPljLCdZH7LviJ03tcfLikw=" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/granola.css">
  <script src="/js/granola.js"></script>
</head>
<body id="prizegiving-preview">
<main>
  <h1><span class="entry-number">Prizegiving for {{ .Playlist.Name }}</span></h1>
  {{ template "results" .Results }}
</main>
<script>
  let showResultsUpTo = 3;
  let highestScore = 0;
  const validStates = ["#start","#lower","#third","#winners", "#sorted"];
  let currentState = window.location.hash = "#start";
  if(!validStates.includes(currentState)) currentState = validStates[0];
  document.addEventListener("DOMContentLoaded", () => {
    const ul = document.querySelector("#prizegiving-preview .results");
    for (let i = ul.children.length; i >= 0; i--) {
      ul.appendChild(ul.children[Math.random() * i | 0]);
    }

    const results = document.querySelectorAll(".result");
    results.forEach((result) => {
      result.dataset.score = Math.round(Math.random() * 1000);
      const score = Number(result.dataset.score);
      if(score > highestScore) highestScore = score;
    });
    document.addEventListener("keydown", keyPress, false);
    addEventListener("hashchange", hashChange);
  });

  function hashChange(e) {
    const newState = new URL(e.newURL).hash;
    switch (newState) {
      case "#start":
        window.location.reload();
        break;
      case "#lower":
        showResultsUpTo = 3;
        break;
      case "#third":
        showResultsUpTo = 2;
        break;
      case "#winners":
        showResultsUpTo = 1;
        break;
      case "#sorted":
        const ul = document.querySelector("#prizegiving-preview .results");
        const lis = Array.from(ul.querySelectorAll("li"));
        lis.sort((a,b) => { return a.dataset.score - b.dataset.score });
        for(let i=0; i<lis.length; i++){
          ul.insertBefore(lis[i], ul.firstChild);
        }
        return;
      default:
        return;
    }

    currentState = newState;

    let results = document.querySelectorAll(".result");
    results = Array.from(results).sort((a, b) => {
      return b.dataset.score - a.dataset.score
    });
    let currentMax = 0;
    results.forEach((result) => {
      currentMax = results[showResultsUpTo - 1].dataset.score;
      let score = result.dataset.score;
      if(score > currentMax) score = currentMax;
      if (score <= highestScore) {
        let from = result.style.backgroundSize.replace("%","");
        let to = (score / highestScore) * 100;
        const anim = setInterval(() => {
          if(from >= to) clearInterval(anim);
          result.style.backgroundSize = from + "%";
          from++;
        },16);
      }
    });
  }

  function keyPress(e) {
    if(e.key === " ") {
      e.preventDefault();
      const stateIndex = validStates.findIndex((state) => { return state === currentState});
      if(stateIndex !== -1 && stateIndex !== validStates.length -1) {
        window.location.hash = validStates[stateIndex + 1];
      }
    }
  }
</script>
</body>
</html>
