{{ define "compos" }}
  {{ if .Compos }}
    <ul class="cards">
    {{ range .Compos }}
      <li class="card {{ .Type }}">
        <a href="{{ .Path }}">
          <h3 class="name">{{ .Name }}</h3>
          <div class="description">
            {{ .DescriptionHtml }}
          </div>
        </a>
      </li>
    {{ end }}
    </ul>
  {{ else }}
    <p>There's unfortunately currently no open compos.</p>
  {{ end }}
{{ end }}
