{{ define "title" }}New entry{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/entries">Entries</a></li>
    {{ with .Compo }}
      <li><a href="{{ .Path }}">New {{ .Name}} entry</a></li>
    {{ end }}
  </ul>
{{ end }}
{{ define "main" }}
  {{ with .Compo }}
    <div class="compo compo-{{ .Type }}">
      <h2 class="name">{{ .Name }}</h2>
      {{ .DescriptionHtml }}
      <h3>Add entry</h3>
      <form action="/entries" method="POST">
        <input type="hidden" name="compo" value="{{ .ID }}">
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" name="title" id="title" required placeholder="Title">
        </div>
        <div class="form-group">
          <label for="author">Author:</label>
          <input type="text" name="author" id="author" required placeholder="Author">
        </div>
        <div class="form-group">
          <label for="platform">Platform:</label>
          <input type="text" name="platform" id="platform" placeholder="Platform">
        </div>
        <div class="form-group">
          <label for="notes">Notes: <span class="fade">(Markdown supported)</span></label>
          <textarea name="notes" id="notes" rows="4" placeholder="Notes"></textarea>
        </div>
        <input type="submit" value="Add">
      </form>
    </div>
  {{ else }}
    <p>The competition can't be found or may be locked.</p>
  {{ end }}
{{ end }}
