{{ define "title" }}{{ .Entry.Title }}{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/entries">Entries</a></li>
    <li><a href="{{ .Entry.Path }}">{{ .Entry.Title }}</a></li>
  </ul>
{{ end }}

{{ define "actions" }}
<ul>
  <li>
    <a href="#edit-entry" class="icon edit" title="Edit entry">Edit entry</a>

    <dialog id="edit-entry">
      <article>
        <header>
          <a href="#close" aria-label="Close" rel="prev"></a>
          Edit {{ .Entry.Title }}
        </header>

        {{ if .Entry.Locked }}
          <p>
            This entry has been locked by the competition organizers, and
            cannot be changed.
          </p>
        {{ end }}

        <form action="{{ .Entry.Path }}" method="post">
          <fieldset {{ if .Entry.Locked }}disabled{{ end }}>
            <input type="hidden" name="_method" value="PUT">

            <div class="form-group">
              <label for="title">Title:</label>
              <input type="text" name="title" id="title" placeholder="Title" value="{{ .Entry.Title }}" required>
            </div>

            <div class="form-group">
              <label for="author">Author:</label>
              <input type="text" name="author" id="author" placeholder="Author" value="{{ .Entry.Author }}" required>
            </div>

            <div class="form-group">
              <label for="platform">Platform:</label>
              <input type="text" name="platform" id="platform" placeholder="Platform" value="{{ .Entry.Platform }}">
            </div>

            <div class="form-group">
              <label for="notes">Notes: <span class="fade">(Markdown supported)</span></label>
              <textarea name="notes" id="notes" rows="4" placeholder="Notes">{{ .Entry.Notes }}</textarea>
            </div>

            <input type="submit" value="Update" {{ if .Entry.Locked }}disabled{{ end }}>
          </fieldset>
        </form>
      </article>
    </dialog>
  </li>
  <li>
    <a href="#add-upload" class="icon" data-tooltip="Add upload" data-placement="left">
      <i class="add">Add upload</i>
    </a>

    <dialog id="add-upload">
      <article>
        <header>
          <a href="#close" aria-label="Close" rel="prev"></a>
          Add upload to {{ .Entry.Title }}
        </header>

        {{ if .Entry.Locked }}
          <p>
            This entry has been locked by the competition organizers, and
            cannot be changed.
          </p>
        {{ end }}

        <form action="{{ .Entry.Path }}/uploads" method="POST" enctype="multipart/form-data">
          <fieldset {{ if .Entry.Locked }}disabled{{ end }}>
            <label for="file">File:</label>
            <input type="file" name="file" id="file" required>
            <input type="submit" value="Add">
          </fieldset>
        </form>
      </article>
    </dialog>
  </li>
</ul>
{{ end }}

{{ define "main" }}
<h2>{{ .Entry.Title }} by {{ .Entry.Author }}</h2>

<div class="entry-frame">
  <iframe src="{{ .Entry.Path }}/preview"></iframe>
</div>

<div id="content" {{ if eq (len .Entry.Uploads) 0 }}class="empty"{{ end }}>
  <h3>Uploads</h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th class="size">Size</th>
        <th class="action">Action</th>
      </tr>
    </thead>
    <tbody>
    {{ range .Entry.Uploads }}
    <tr class="deletable">
      <td><a href="{{ .Path }}">{{ .Filename }}</a></td>
      <td class="size" title="{{ .ContentSize }} bytes">{{ humanize "bytes" .ContentSize }}</td>
      <td class="action">
        <a href="#delete-upload-{{ .ID }}" class="icon" data-tooltip="Delete upload" data-placement="left">
          <i class="delete">Delete upload</i>
        </a>

        <dialog id="delete-upload-{{ .ID }}">
          <article>
            <header>
              <a href="#close" aria-label="Close" rel="prev"></a>
              Delete upload
            </header>

            {{ if .Entry.Locked }}
              <p>
                ‟{{ .Filename }}” can't be deleted because it belongs to the
                entry <a href="{{ .Entry.Path }}">{{ .Entry.Title }}</a> which has been
                <strong>locked by administrators.</strong>
              </p>
            {{ else }}
              <p>Are you sure you want to delete the upload ‟{{ .Filename }}”?</p>
            {{ end }}

            <form action="{{ .Path }}" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <button name="delete" type="submit" {{ if .Entry.Locked }}disabled{{ end }}>Delete <i class="icon delete"></i></button>
            </form>
          </article>
        </dialog>
      </td>
    </tr>
    {{ end }}
    </tbody>
  </table>
</div>
{{ end }}
