{{ define "title" }}Entries{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/entries">Entries</a></li>
  </ul>
{{ end }}

{{ define "actions" }}
  <a href="#choose-compo" class="icon" data-tooltip="Add entry" data-placement="left">
    <i class="add">Add entry</i>
  </a>

  <dialog id="choose-compo">
    <article>
      <header>
        <a href="#close" aria-label="Close" rel="prev"></a>
        Add entry
      </header>

      {{ if gt (len .Compos) 0 }}
        {{ if gt (len .Entries) 0 }}
          <p>
            If you have more to contribute, feel free to add another entry in one of
            the compos listed below!
          </p>
        {{ else }}
          <p>
            You have no entries yet. Select a compo from the list below to add one!
          </p>
        {{ end }}

        {{ template "compos" . }}
      {{ else }}
        <p>No competitions are currently open for submission!</p>
      {{ end }}
    </article>
  </dialog>

  <dialog id="add-entry">
    <header>
      <a href="#close" aria-label="Close" rel="prev"></a>
      <h2>Add entry</h2>
    </header>
    <article>
      <form action="/entries" method="POST">
        <div class="form-group">
          <label for="compo">Competition:</label>
          <select id="compo" name="compo" required>
            <option disabled selected hidden value>Select a competition</option>
            {{ range .Compos }}
            <option value="{{ .ID }}" data-multiplatform="{{ .MultiPlatform }}">{{ .Name }}</option>
            {{ end }}
          </select>
        </div>
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" name="title" id="title" required placeholder="Title">
        </div>
        <div class="form-group">
          <label for="author">Author:</label>
          <input type="text" name="author" id="author" required placeholder="Author">
        </div>
        <div class="form-group">
          <label for="platform">Platform:</label>
          <input type="text" name="platform" id="platform" placeholder="Platform">
        </div>
        <div class="form-group">
          <label for="notes">Notes: <span class="fade">(Markdown supported)</span></label>
          <textarea name="notes" id="notes" rows="4" placeholder="Notes"></textarea>
        </div>
        <input type="submit" value="Add">
      </form>
    </article>
  </dialog>
{{ end }}

{{ define "main" }}
<div id="content" {{ if eq (len .Entries) 0 }}class="empty"{{ end }}>
  <h3>Your entries</h3>
  <p>You can find your existing entries in the below table.</p>
  <table class="entries">
    <thead>
      <tr>
        <th class="name">Name</th>
        <th class="author">Author</th>
        <th class="platform">Platform</th>
        <th class="compo">Compo</th>
        <th class="uploads">Uploads</th>
        <th class="action">Action</th>
      </tr>
    </thead>
    <tbody>
    {{ range .Entries }}
    <tr class="deletable">
      <td><a href="{{ .Path }}">{{ .Title }}</a></td>
      <td>{{ .Author }}</td>
      <td>{{ .Platform }}</td>
      <td>{{ .Compo.Name }}</td>
      <td class="uploads">{{ len .Uploads }}</td>
      <td class="action">
        <a href="#delete-entry-{{ .ID }}" class="icon" data-tooltip="Delete entry" data-placement="left">
          <i class="delete">Delete entry</i>
        </a>

        <dialog id="delete-entry-{{ .ID }}">
          <article>
            <header>
              <a href="#close" aria-label="Close" rel="prev"></a>
              Delete entry
            </header>
            {{ if .Locked }}
              <p>
                ‟{{ .Title }}” can't be deleted because it has been
                <strong>locked by administrators.</strong> The most likely
                explanation is that the entry has been accepted into
                ‟{{ .Compo.Name }}”.
              </p>
            {{ else }}
              <p>Are you sure you want to delete ‟{{ .Title }}”?</p>
            {{ end }}
            <form action="{{ .Path }}" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <button name="delete" type="submit" {{ if .Locked }}disabled{{ end }}>Delete <i class="icon delete"></i></button>
            </form>
          </article>
        </dialog>
      </td>
    </tr>
    {{ end }}
    </tbody>
  </table>
</div>


{{ end }}
