{{ define "title" }}{{ .Title }}{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
  </ul>
{{ end }}
{{ define "actions" }}<!---->{{ end }}
{{ define "main" }}
  <header>
    <h1>Granola</h1>
    <p class="slogan">A minimal, modern competition system for demoparties.</p>
  </header>
  {{ if .User }}
    <p>
      Welcome to the party, {{ .User.Handle }}!

      {{ if .Compos }}
        {{ if .User.Entries }}
          You have <a href="/entries">{{ len .User.Entries }} entries</a>
          in the system. If you want to add more, please do so in the
          competitions listed below.
        {{ else }}
          Please consider adding an entry in one of the competitions listed
          below.
        {{ end }}
      {{ end }}
    </p>
    {{ template "compos" . }}

    {{ if .Compos }}
      <p>You can also make a selection from the menu below.</p>
    {{ else}}
      <p>Please make a selection from the menu below.</p>
    {{ end }}
    <ul>
      <li><a href="/profile">Edit profile</a></li>
      <li><a href="/entries">Manage entries</a></li>
      <li><a href="/voting">Vote</a></li>
    </ul>
  {{ else }}
    <p>
      Please <a href="/register">register a user</a>, and
      <a href="/login">see yourself inside</a>!
    </p>
  {{ end }}
{{ end }}
